* {
    padding: 0;
    margin: 0;
}

#header {
    overflow: hidden;
    background-color: #2a6dcc;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
  
.topnav #links {
    text-align: center;
    display: none;
    background-color: #14468A;

}
  
.topnav a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
  
.topnav a.icon {
    background: #2a6dcc;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 21px;
}
  
.topnav a:hover {
    background-color:#14468A;
    color: black;
}
  
#header img{
    margin-left: 40px;
    max-width:270px;
}

.img{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: aqua;
    
}
#galerii{
    z-index: 2;
    padding: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
    max-height: 130px;
    overflow: hidden;
	transition: max-height 0.7s;
}

#galerii.open {
	max-height: 1000px;
	transition: max-height 0.7s;
}

#show-more {
    width: 20%;
    background: #2a6dcc;
    color: white;
	font-family: sans-serif;
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 15px;
    margin: 10px auto;
}